body {
    background-color: #36393f;
    color: white;
}

a:any-link {
    color: rgb(60, 100, 255);
}

#fullscreen {
    background-color: rgba(0, 0, 0, 0.65);
}

#close-button a {
    color: white;
}

#favorites>a {
    color: rgb(247, 247, 247);
    text-shadow: 2px 2px 5px black;
}